# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.ncb
*.suo
*.opt
*.plg
*.~bpr
*.obj
*.tds

/examples/zltabout_test/Debug
/examples/zltabout_test/zltabout_test_2005.vcproj.*.user
/docs/html

